<% include ../partials/header %>
<div class="container">
    <br><br>
    <h1>Welcome, <%= user.username %>!</h1>
    <p>Please choose one of the following:</p>
    <% if(user.isDeveloper()){ %>
        <a href="<%= getRealUrl('/developer') %>"
           class="btn btn-primary">
            Developer Dashboard
        </a>
    <% } %>
    <% if(user.isAdmin()){ %>
        <a href="<%= getRealUrl('/admin') %>"
           class="btn btn-primary">
            Admin Dashboard
        </a>
    <% } %>
    <a href="<%= getRealUrl('/logout') %>">
        <button class="btn btn-link">Logout</button>
    </a>
    <% include ../partials/footer %>
</div>
