<%- include('../../partials/header.ejs', {
title: "Create Course - Admin Dashboard"
}) %>

<div class="container">
    <br/>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<%= getRealUrl('/admin') %>">Home</a></li>
            <li class="breadcrumb-item"><a href="<%= getRealUrl('/admin/courses') %>">Courses</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create Course</li>
        </ol>
    </nav>

    <h2>Create Course</h2>

    <% include ../../partials/errors.ejs %>
    <% include ../../partials/successes.ejs %>

    <form method="post">
        <label>
            Course Code<br/>
            <small class="text-muted">The course code, cannot contain spaces.</small>
        </label>
        <input type="text" class="form-control" placeholder="csca48f18" name="code"/>
        <label class="mt-2">
            Course Name<br/>
            <small class="text-muted">Display name for the course.</small>
        </label>
        <input type="text" class="form-control" placeholder="Introduction to Computer Science I Fall 2018" name="name"/>

        <br/>
        <button class="btn btn-primary">Create</button>
    </form>

    <% include ../../partials/footer.ejs %>
</div>
