<% include ../../partials/header.ejs %>

<div class="container">
    <br/>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>
    <h2>Admin Dashboard</h2>
    <a href="<%= getRealUrl('/logout') %>" class="btn btn-danger">Logout</a>
    <a href="<%= getRealUrl('/admin/advanced') %>" class="btn btn-link">Advanced Options</a>
    <hr/>
    <p>Please choose one of the following:</p>
    <div class="row">
        <div class="col-md-6 d-flex align-items-stretch">
            <div class="card" style="width: 100%; margin: 5px;">
                <div class="card-body">
                    <h5 class="card-title">Users</h5>
                    <p class="card-text">
                        Manage all users within the system.
                    </p>
                    <a href="<%= getRealUrl('/admin/users') %>" class="btn btn-primary">Manage Users</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 d-flex align-items-stretch">
            <div class="card" style="width: 100%; margin: 5px;">
                <div class="card-body">
                    <h5 class="card-title">Courses</h5>
                    <p class="card-text">
                        Manage all courses within the system.
                    </p>
                    <a href="<%= getRealUrl('/admin/courses') %>" class="btn btn-primary">Manage Courses</a>
                </div>
             </div>
        </div>
    </div>
    <% include ../../partials/footer.ejs %>
</div>
